
  .floating-box {
    float:left;
    width: 150px;
    height: 120px;
    margin: 5px;
    border: 2px solid #73AD21;  

}

img {
   
   width: 100%;
    max-height: 80%;
    
}




.inputWrapper {
  border: 2px solid black;  
  background-size: contain;
  background-image: url('./camera.jpg');
  width: 150px;
  height: 120px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  /*Using a background color, but you can use a background image to represent a button*/
  background-color: red;
}
#ful2 {
  
  cursor: pointer;
  height: 100%;
  position:absolute;
  top: 0;
  right: 0;
  z-index: 99;
  /*This makes the button huge. If you want a bigger button, increase the font size*/
  font-size:50px;
  /*Opacity settings for all browsers*/
  opacity: 0;
  -moz-opacity: 0;
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0)
}