

<div class="container">
    <div id="menu">
        <nav>
            <a routerLink="/app" routerLinkActive="active">Home</a>
            <a routerLink="/list" routerLinkActive="active">List</a>
            <a routerLink="/detail" routerLinkActive="active">Details</a>
            <a routerLink="eager">Eager</a>
            <a routerLink="lazy">Lazy</a>
            <a routerLink="tourdetail">Tour</a>
          </nav>
      </div>
  <div class="left"></div>
  <div class="middle">
    <div id="rt">
     <router-outlet></router-outlet>
     </div>
  </div>
  <div class="right"></div>
</div>

  